.title h1 {
	font: var(--title);
}

.title a {
	font: var(--link);
	color: var(--color-brand);

	text-decoration: none;
}

#add-bar {
	font: var(--label);
}

.grid {
	font: var(--paragraph);
}

#warning {
	font: var(--label);
	color: var(--background-secondary);
}
