.grid {
	display: grid;
	gap: 0.75rem;
}

.item-card {
	background-color: var(--background-secondary);
	border-radius: 1rem;

	display: flex;
	flex-direction: row;

	align-items: center;

	padding-block: 1rem;
	padding-inline: 0.75rem;
}

.grid input {
	width: 1rem;
	height: 1rem;
	aspect-ratio: 1/1;

	margin-right: 1rem;
}

.item-card button {
	margin-left: auto;
	background-color: var(--background-secondary);
	border-style: none;
}

.item-card img {
	width: 1.5rem;
	height: 1.5rem;
	aspect-ratio: 1/1;

	&:hover,
	&:focus,
	&:focus-visible,
	&:focus-within {
		svg {
			path {
				stroke: var(--color-brand-hover);
			}
		}
	}
}
